mlflow>=3.5.1
pypdf>=5.3.1
langchain>=0.3.24
langchain-core>=0.3.56
databricks-langchain>=0.7.1
python_mermaid>=0.1.3
databricks-agents>=1.4.0
langgraph>=0.5.3
backoff==2.2.1
uv>=0.8.17
litellm>=1.79.3
gepa>=0.0.26
dspy>=3.1.3
databricks-openai>=0.11.1
databricks-sdk>=0.88.0
openmeteo_requests==1.7.5
