
mlflow[databricks]==3.10.1
databricks-mcp==0.9.0
mcp==1.26.0
databricks-langchain==0.17.0
databricks-ai-bridge==0.17.0
langchain==1.2.13
langchain-core==1.2.20
langchain-mcp-adapters==0.2.2
langgraph==1.1.3
databricks-sdk==0.101.0
python_mermaid==0.1.3